$primary: #537DFB;
$secondary: #45446B;
$light: #F0F4FE;
$dark: #090739;
$success: #00A697;
$danger: #C00E0E;
$info: #0A50DB;
$warning: #DC8624;

// Bootstrap and its default variables
@import '../../node_modules/bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '../../node_modules/bootstrap-vue/src/index.scss';

@import "theme.css";